<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% @node_context    = @question.node
       @node_parents    = @parents
       @node_label      = "Question with Node: "
       @button_text     = "Choose A Different Node"
       @node_form_id    = "node_id"
       @node_form_name  = "question[node_id]" %>
    <%= render "nodes/node_chooser" %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>

  <div class="field">
    <%= f.label :phase_id %><br>
    <%= f.select :phase_id, options_from_collection_for_select(PhaseType.all, :id, :name), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :resolved_id %><br>
    <%= f.check_box :resolved_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
