<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Node</th>
      <th>Phasetype</th>
      <th>Resolved</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.question, question %></td>
        <td><%= link_to question.node.name, question.node %></td>
        <td><% if question.phaseType != nil %><%= question.phaseType.name %><% end %></td>
        <td><%= question.resolved_id %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
