<h1>Listing google_sheets</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @google_sheets.each do |google_sheet| %>
      <tr>
        <td><%= google_sheet.key %></td>
        <td><%= link_to 'Show', google_sheet %></td>
        <td><%= link_to 'Edit', edit_google_sheet_path(google_sheet) %></td>
        <td><%= link_to 'Destroy', google_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Google sheet', new_google_sheet_path %>
