<% @node_filters = session[:filters] %>
<% if @node_filters == nil %>
  <% @node_filters = Array.new %>
<% end %>
<%= render 'nodes/filters' %>

<% if @my_feature_roles != nil and @my_feature_roles.count < 1 %>
	Let's get started: <%= link_to Node.find(1).name, Node.find(1) %> 

<% else %>

			Your Features:

<div class="panel panel-default">
  	<!-- Default panel contents -->
  	<% @product = @my_feature_roles.first.node.belongs_to_product %>
  	<div class="panel-heading"><strong><%= link_to (@product.name + " Product"), @product %></strong></div>
	  <div class="panel-body">
	  			<div class="col-md-3"><strong>Features</strong></div>
				<div class="col-md-2"><strong>Open Issues</strong></div>
				<div class="col-md-2"><strong>Open Questions</strong></div>
				<div class="col-md-5"><strong>Progress</strong></div>
	<% @my_feature_roles.each do |feature_role| %>
		<% @next_product = feature_role.node.belongs_to_product %>
		<% if @product.id != @next_product.id %>
	    	</div>
	    </div>
	    <% @product = @next_product %>
	    <div class="panel panel-default">
	    	<div class="panel-heading"><strong><%= link_to (@product.name + " Product"), @product %></strong></div>
	    	<div class="panel-body">
	    		<div class="col-md-3"><strong>Features</strong></div>
				<div class="col-md-2"><strong>Open Issues</strong></div>
				<div class="col-md-2"><strong>Open Questions</strong></div>
				<div class="col-md-5"><strong>Progress</strong></div>
	    	
		<% end %>
			<div class="col-md-3"><%= link_to feature_role.node.name, feature_role.node %></div>
			<div class="col-md-2">
				<%= feature_role.node.getAllIssues.count %>
			</div>
			<div class="col-md-2"><%= feature_role.node.getAllOpenQuestions.count %></div>
			<div class="col-md-5">
				  <% feature_role.node.set_deep_filtered_node(@node_filters) %>
			      <div class="progress">
			        <% @node_perecent_done = feature_role.node.calc_percent_done %>
			        <% if @node_perecent_done != 0 %>
			        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=<%= @node_perecent_done %> aria-valuemin="0" aria-valuemax="100" style="width: <%= @node_perecent_done %>%;">
			          <%= @node_perecent_done %>%
			        </div>
			      <% end %>
			      <% @node_percent_in_progress = feature_role.node.calc_percent_in_progress %>
			      <% if @node_percent_in_progress != 0 %>
			        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= @node_percent_in_progress %>%;">
			          <%= @node_percent_in_progress %>%
			      </div>
			    <% end %>
			    </div>


			</div>
	<% end %>


	</div>
</div>

<% end %>