<%= form_for(@native_issue_has_jira) do |f| %>
  <% if @native_issue_has_jira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@native_issue_has_jira.errors.count, "error") %> prohibited this native_issue_has_jira from being saved:</h2>

      <ul>
      <% @native_issue_has_jira.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jira_id %><br>
    <%= f.text_field :jira_id %>
  </div>
  <div class="field">
    <%= f.label :native_issue_id %><br>
    <%= f.text_field :native_issue_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
