<h1>Listing node_histories</h1>
<script type="text/javascript">
  var currentTime = new Date();
  var utcOffset   = currentTime.getTimezoneOffset()
  document.cookie = 'time_zone_offset='+utcOffset+';';
</script>
<%  offset = cookies["time_zone_offset"].to_i
  time_zone = ActiveSupport::TimeZone[-offset.minutes] %>
  
<table>
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>User</th>
      <th>Node</th>
      <th>Log</th>
      <th>Other node</th>
      <th>Other reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @node_histories.each do |node_history| %>
      <tr>
        <td><%= node_history.created_at.in_time_zone(time_zone).strftime("%m/%d/%Y at %I:%M%p") %></td>
        <td><%= node_history.user.display_name %></td>
        <td><%= link_to node_history.node.name, node_history.node %></td>
        <td><%= node_history.log %></td>
        <td><%= node_history.other_node %></td>
        <td><%= node_history.other_reference %></td>
        <td><%= link_to 'Show', node_history %></td>
        <td><%= link_to 'Edit', edit_node_history_path(node_history) %></td>
        <td><%= link_to 'Destroy', node_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node history', new_node_history_path %>
