<p id="notice"><%= notice %></p>

<p>
  <strong>Node:</strong>
  <%= link_to @node.name, @node %>
</p>

<% @history_items.each do |item| %>
<p>
	<%= item.created_at.strftime("%m/%d/%Y at %I:%M%p %z") %> - <%= item.user.display_name %> <%= item.log %>
</p>
<% end %>


<%= link_to 'Back', @node %>
