<% if @nodePhases.count > 0 %>
    <% @nodePhases.each do |phase| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              <%= phase.type %>
          </h3>
          
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= phase.get_progress_status_text %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% if phase.progress_status != 2 %>
              <li><a href class="set-phase-status-in-progress" id="<%=phase.id=%>" >Set to In Progress</a></li>
              <% end %>
              <% if phase.progress_status != 1 %>
              <li><a href class="set-phase-status-done" id="<%=phase.id=%>" >Set to Done</a></li>
              <% end %>
              <% if phase.progress_status != nil %>
              <li><a href class="set-phase-status-backlog" id="<%=phase.id=%>" >Move Back to Backlog</a></li>
              <% end %>
            </ul>
          </div>


        <!-- Tasks Associated to Phase -->
        <ul class="list-group">
        <% @tasks = Task.where(:phase_id => phase) %>
        
        <% if @tasks.count > 0 %>
        <lh><h5>Tasks</h5></lh>
          <% @tasks.each do |task| %>
            <li class="list-group-item">
              <%= link_to task.name, task %>
            </li>
          <% end %>
        <% end %>
        <%= link_to 'Add Task' , new_task_path(phase), {:style=>'color:#999;'} %>
        </ul>

        <!-- Dependencies -->
        <ul class="list-group">
        <% @dependencies = Dependable.where(:dependentPhase_id => phase.id) %>
        <% if @dependencies.count>0 %>
          <lh><h5>Depends On</h5>
        <% end %>
            <% @dependencies.each do |dependency| %>
              <li class="list-group-item"><%= link_to dependency.name, dependency.phase.node %> </li>
            <% end %>
            <%= link_to "Add Dependency" , new_dependable_path(:phase_id => phase), {:style=>'color:#999;'} %>
        </ul>

        <!-- Depended On -->
        <% @dependencies = Dependable.where(:phase_id => phase.id) %>
        <% if @dependencies.count>0 %>
        <ul class="list-group">
          <h5>Depency For</h5>
            <% @dependencies.each do |dependency| %>
              <li class="list-group-item"><%= link_to dependency.forPhase.name, dependency.forPhase.node %> </li>
            <% end %>
        </ul>
        <% end %>
      </div>
    <% end %>

<% end %>   
