<p>
  <%= @node_label %> 
  <span id="node_name"><%= @node_context.name %></span> 
  <input type="hidden" id="<%= @node_form_id %>" name="<%= @node_form_name %>" value="<%= @node_context.id %>">

  <input class="btn btn-sm btn-default pull-right" type="button" name="answer" value="<%= @button_text %>" onclick="showDiv()" />
</p>
<br/>

<div id="node_chooser" class="panel panel-default" style="display:none;">
  <input id="node_search" type="text" class="form-control" placeholder="Search..." >
  <div class="panel-body">

  <ol class="breadcrumb">
    <% if @node_parents != nil %>
    <% @node_parents.reverse_each do |p| %>
      <li><a href="#" class="node_row" data-id="<%= p.id %>"><%= p.name %></a></li>
    <%end %>
    <% end %>
  
  <li class="active"><strong><%= @node_context.name %></strong></li>
  <a class="pull-right select_node" id="<%= @node_context.id %>" data-name="<%= @node_context.name %>">Select</a>
  </ol>
    <!-- Table -->
  <table class="table table-hover" id="chooser_children">
    <% @node_context.children.each do |child|%>
      <tr class="node_row <% if child.id == @node_context.id %> info <% end %>"  data-id="<%= child.id %>">
        <td><%= child.name %><% if child.children != nil and child.children.count > 0 %> > <% end %></td>
        
    <% end %>
  </table>
  <a class="pull-right" id="cancel_chooser">Cancel</a>
  </div>
</div>

<script type="text/javascript">
  function showDiv() {
   document.getElementById('node_chooser').style.display = "block";
  }

  $("#cancel_chooser").click(function(){
    document.getElementById('node_chooser').style.display = "none";
  });

  $(".select_node").click(function(){
    $('#node_name').html($(this).attr('data-name'));
    $('#<%= @node_form_id %>').val($(this).attr('id'));
    document.getElementById('node_chooser').style.display = "none";
  });

  $('#node_search').click(function(){
    alert("Sorry, search doesn't work yet");
  });

  $(document.body).on('click', '.node_row' ,(function(){
    var $id = $(this).attr('data-id');
    //check to see if node has kids
    //if node has kids... go get 'em
    $.ajax({url: "/chooser_get", 
            type: "GET", 
            data: {'id': $id}, 
            dataType: 'json'}).done(function(data)  {
                console.log(data);
                updateNodeChooser(data);
            }).fail(function(e, ts, et)  {
                alert("Sorry. Server unavailable. " + ts);
            }); 
  }));

  function updateNodeChooser(data){
    //set parents/breadcrumbs
    $parentString = "";
    $.each(data.parents, function(i, parent) {
      $parentString += ("<li><a href='#' class='node_row' data-id='" + parent.id + "'>" + parent.name + "</a></li>" );
    })
    $selectString = "<a class='select_node pull-right' id='"+ data.node.id +"' data-name='"+data.node.name+"'>Select</a>";
    $('.breadcrumb').html($parentString + "<li class='active'><strong>" + data.node.name + "</strong></li>" + $selectString);

    //set child nodes
    $childrenString = "";
    $.each(data.children, function(i, child) {
      if(child.id == <%= @node_context.id %>){
        $alreadySelected = "info";
      }else{
        $alreadySelected = "";
      }

      if(child.has_kids){
        $kids = " >";
      }else{
        $kids = "";
      }
      $childrenString += ("<tr class='node_row " + $alreadySelected +"'  data-id='"+ child.id +"'> "+
        "<td>" + child.name + $kids + "</td>");
    })
    $("#chooser_children").html($childrenString);

  }

  function handler(event) {
    event.stopPropagation();
    // now do your stuff 
    alert("test");       
  }

  $(document.body).on('click', 'a.select_node' ,(function(){
    handler;
    $('#node_name').html($(this).attr('data-name'));
    $('#<%= @node_form_id %>').val($(this).attr('id'));
    document.getElementById('node_chooser').style.display = "none";
  }));

</script>



