<head>

    
    <style>
      body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:11px; }
      h1 { font-size: 15px; }
      a { color: #548dc4; text-decoration: none; }
      a:hover { text-decoration: underline; }
      table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
      table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
      table.testgrid th { background: #E5E5E5; text-align: left; }
      input.invalid { background: red; color: #FDFDFD; }
    </style>
    
    <script>

    $(document).ready(function() {
 


      window.onload = function() {

        // this approach is interesting if you need to dynamically create data in Javascript 
        var metadata = [];
        metadata.push({ name: "node-type", label: "NODE TYPE", datatype: "string", editable: true});
        metadata.push({ name: "node", label:"NODE", datatype: "node", editable: true});
        metadata.push({ name: "status", label: "STATUS", datatype: "boolean", editable: true});
        metadata.push({ name: "height", label: "PRIORITY", datatype: "double(m,2)", editable: true});
        metadata.push({ name: "country", label: "COUNTRY", datatype: "string", editable: true});
        metadata.push({ name: "email", label: "EMAIL", datatype: "email", editable: true});
        metadata.push({ name: "lastvisit", label: "LAST VISIT", datatype: "date", editable: true});

        // a small example of how you can manipulate the object in javascript
        metadata[4].values = {};
        metadata[4].values["Europe"] = {"be":"Belgium","fr":"France","uk":"Great-Britain","nl":"Nederland"};
        metadata[4].values["America"] = {"br":"Brazil","ca":"Canada","us":"USA"};
        metadata[4].values["Africa"] = {"ng":"Nigeria","za":"South-Africa","zw":"Zimbabwe"};

        var data = [];
        <% @row = 1 %>
        <% @terminalNodes.each do |child| %>
        data.push({id: <%=@row%>, values: {"node-type":"<%= child.nodeType.name %>", "node": "<%=child.name%>#@#<%=child.id%>","status":<%= child.status %>,"name":"Duke","email":"Patience","height":1.842,"lastvisit":"11\/12\/2002"}});
        <% @row = @row + 1 %>
        <% end %>
             
        editableGrid = new EditableGrid("DemoGridJsData");
        editableGrid.load({"metadata": metadata, "data": data});
        editableGrid.renderGrid("tablecontent", "testgrid");
      } 

      }
);
    </script>
    
  </head>
  
  <body>
    <h1>Backlog for <%= @node.name %> - <%= link_to "Back to Node", @node %></h1> 
    <div id="tablecontent"></div>
  </body>