<% if @node.parent != nil %>
  <ol class="breadcrumb">
    <% if @node.parent.parent != nil %>
      <li><%= link_to Node.find(@node.parent.parent).name , @node.parent.parent %> </li>
    <% end %>
    <li> <%= link_to Node.find(@node.parent).name , @node.parent %></li>

  </ol>
<% end %>

<h2>Delivery Schedule for <%= link_to @node.name, @node %></h2>  <%= link_to "Switch to Backlog Grooming View", backlog_path(@node) %>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <th>Feature</th>
        <th>Specification</th>
        <% @environments = Environment.all %>
        <% @environments.each do |environment| %>
          <th><%= environment.name %></th>
        <% end %>
        <% @completed = @terminalNodes.select {|s| s.status } %>
      <% @terminalNodes.each_with_index do |child, i|  %>
        <tr <% if child.status %>class="success" <% elsif child.get_next_delivery == nil %>class="warning" <% end %>>
          <% if child.nodeType.feature or child.nodeType.feature_organizer %>
            <td><%= link_to child.name, child %></td>
            <td></td>
          <% else %>
            <td><%= link_to child.parent.name, child.parent %></td>
            <td><%= link_to child.name, child %></td>
          <% end %>
          <% @environments.each do |environment| %>
            <td>
              <% date = child.get_next_delivery_for_environment(environment) %>
              <% if date != nil %>
                <%= date.short_string %>
              <% else %>
                <%= link_to 'Add Delivery Date', new_delivery_date_path(child), {:style=>'color:blue;'} %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
</div>