

    <h1>Feature Inventory for <%= @node.name %> - <%= link_to "Back to Node", @node %></h1> 

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <th>Feature</th>
        <th>Specification</th>
        <th>Delivery</th>
        <th>Current Dependencies</th>
        <th>Issues</th>
        <th>Priority</th>
        <th>Done?</th>
        <th>Added</th>
      <% @terminalNodes.each do |child|  %>
        <tr <% if child.status %>class="success"<% end %>>
          <% if child.nodeType.feature or child.nodeType.feature_organizer %>
            <td><%= link_to child.name, child %></td>
            <td></td>
          <% else %>
            <td><%= link_to child.get_feature.name, child.get_feature %></td>
            <td><%= link_to child.name, child %></td>
          <% end %>
          <td>
            <% if child.get_next_delivery != nil %>
              <%= child.get_next_delivery %>
            <% else %>
              <%= link_to 'Add Delivery Date', new_delivery_date_path(@node) %>
            <% end %>
          </td>
          <td>
              <%= child.dependencies.count %>
          </td>
          <td></td>
          <td></td>
          <td><%= child.status %></td>
          <td><%= child.created_at.strftime('%m/%d/%Y')%></td>
        </tr>
      <% end %>
    </table>
</div>