<% content_for :title, @node.name + " Feature Inventory"%>
<% if @node.parent != nil %>
  <ol class="breadcrumb">
    <% if @node.parent.parent != nil %>
      <li><%= link_to Node.find(@node.parent.parent).name , @node.parent.parent %> </li>
    <% end %>
    <li> <%= link_to Node.find(@node.parent).name , @node.parent %></li>

  </ol>
<% end %>
<% if @hide_completed == "true" %>
  <button class="btn btn-default btn-sm" id="show_completed">Show Completed </button>
<% else %>
  <button class="btn btn-default btn-sm" id="hide_completed">Hide Completed </button>
<% end %>

<div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Set Granularity <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li> <a href id="view_features">View Product Features</a></li>
              <li> <a href id="view_specs">View Product Feature Specifications</a></li>
              <!-- <li> <a href id="view_fdds">View Functional Design Documents</a></li>-->
            </ul>
          </div>

    <h2><%= link_to @node.name, @node %> Feature Inventory</h2> 


<%= render 'terminal_nodes' %>

<script type="text/javascript">
  function getURLParameter(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
  }

  $("#hide_completed").click(function(){
    var granularity = getURLParameter('granularity');
    window.location.href = "/feature_inventory/" + <%= @node.id %>+ "?hide_completed=true" + "&granularity=" + granularity;
  });

  $("#show_completed").click(function(){
    var granularity = getURLParameter('granularity');
    window.location.href = "/feature_inventory/" + <%= @node.id %>+ "?hide_completed=false" + "&granularity=" + granularity;
  });

  $("#view_features").click(function(){
    var hide_completed = getURLParameter('hide_completed');
    window.location.href = "/feature_inventory/" + <%= @node.id %>+ "?hide_completed=" +hide_completed + "&granularity=features_only";
  });

  $("#view_specs").click(function(){
    var hide_completed = getURLParameter('hide_completed');
    window.location.href = "/feature_inventory/" + <%= @node.id %>+ "?hide_completed=" +hide_completed;
  });
</script>