<%= render 'filters' %>

<% @node_filters = session[:filters] %>
<% if @node_filters == nil %>
  <% @node_filters = Array.new %>
<% end %>
<% @node.set_deep_filtered_node(@node_filters) %>

<% if @node.parent != nil %>
  <ol class="breadcrumb">
    <% if @node.parent.parent != nil %>
      <li><%= link_to Node.find(@node.parent.parent).name , @node.parent.parent %> </li>
    <% end %>
    <li> <%= link_to Node.find(@node.parent).name , @node.parent %></li>

  </ol>
<% end %>
<div class="page-header" style="margin-top:0px;">
  <h2><%= @node.name %> 
    <small>[<%= @node.nodeType.name %> - <%= @node.progress_status %>]</small>
  </h2>
  <% if @current_user.can_manage_product_for_node(@node) %>
    <%= link_to 'Edit', edit_node_path(@node) %>
    | 
  <% end %>
<% if !@node.nodeType.specification %>
  <%= link_to 'Feature Inventory', feature_inventory_path(@node) %>
  | <%= link_to 'Delivery Schedule', delivery_schedule_path(@node) %> |
  <% if @current_user.can_groom_backlog_for_node(@node) %>
     <%= link_to 'Groom Backlog', backlog_path(@node) %> |
  <% end %>
  <% if @current_user.power_admin %>
     <%= link_to 'View External Dependencies', backlog_path(@node) %> |
     <%= link_to 'View Dependencies From', backlog_path(@node) %> |
  <% end %>
   <%= link_to 'View PM Team', team_path(@node) %> |
<% end %>
 <%= link_to 'History', show_node_history_path(@node) %>
</div>

<%= simple_format(@node.description) %>

<div>
  <% if !@node.nodeType.specification %>  
  <!-- Comprised of Sub Non-Spec Nodes-->
  <div class="col-md-6">
    <% if @node.fchildren != nil and @node.fchildren.count > 0 %>
      <% @node_children = @node.fchildren.sort_by {|obj| [obj.nodeType.specification ? 1 : 0] } %>
      <% @node_children.each do |child| %>
        <% if !child.nodeType.specification %>
          <div class="panel panel-default">
            <div class="panel-heading " data-toggle="collapse" data-target="#demo<%= child.id %>">
              <h3 class="panel-title">
                <% if child.status %> &#x2713; <% else %> &nbsp;&nbsp;&nbsp; <% end %> 
                <%= link_to ("[" + child.nodeType.name + "] " + child.name + " " + child.statusInParens ) , child , class: "node" %> (<%= child.percent_done %>% Done)
              </h3>
            </div>

            <% if child.children.count >0 %>
            <div class="panel-body collapse" id="demo<%= child.id %>">
                <ul class="list-group">
                  <% child.fchildren.each do |grandkid| %>
                  <% if grandkid.status %>
                    <li class="list-group-item list-group-item-success">
                  <% elsif grandkid.progress_status == "In Progress" %>
                    <li class="list-group-item list-group-item-warning">
                  <% else %>
                    <li class="list-group-item">
                  <% end %>
                        <% if grandkid.status %> &#x2713; <% else %> &nbsp;&nbsp;&nbsp; <% end %> 
                  <%= link_to ("[" + grandkid.nodeType.name + "] " + grandkid.name + " " + grandkid.statusInParens ) , grandkid %>

                  <% if !grandkid.nodeType.specification %>
                  <div class="progress">
                    <% grandkid_perecent_done = grandkid.percent_done %>
                    <% if grandkid_perecent_done != 0 %>
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=<%= grandkid_perecent_done %> aria-valuemin="0" aria-valuemax="100" style="width: <%= grandkid_perecent_done %>%;">
                      <%= grandkid_perecent_done %>%
                    </div>
                  <% end %>
                  <% grandkid_perecent_in_progress = grandkid.percent_in_progress %>
                  <% if grandkid_perecent_in_progress != 0 %>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= grandkid_perecent_in_progress %>%;">
                      <%= grandkid_perecent_in_progress %>%
                  </div>
                  
                  <% end %>
                </div>
                <% end %>


                      </li>
                  <% end %>
                </ul>
            </div>
          <% end %>
        </div>
        <% else %>
          <% if child.status %>
            <li class="list-group-item list-group-item-success">
          <% elsif child.progress_status == "In Progress" %>
            <li class="list-group-item list-group-item-warning">
          <% else %>
            <li class="list-group-item">
          <% end %>
              <%= link_to "[" + child.nodeType.name + "] " + child.name, child %>
            </li>
        <% end %>
        
      <% end %>
    <% end %>
  <% else # it is a specification %> 
    <div class="col-md-6">
      <%= render 'dev_process' %>
    </div>
  <% end %> 
  <% if !@node.nodeType.specification and @current_user.can_manage_product %>
    <%= link_to 'Add Node' , new_node_path(@node) %> 
  <% end %>
  </div>


  <div class="col-md-6">
    <strong>Percent Done:</strong> 
      <div class="progress">
        <% @node_perecent_done = @node.calc_percent_done %>
        <% if @node_perecent_done != 0 %>
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=<%= @node_perecent_done %> aria-valuemin="0" aria-valuemax="100" style="width: <%= @node_perecent_done %>%;">
          <%= @node_perecent_done %>%
        </div>
      <% end %>
      <% @node_percent_in_progress = @node.calc_percent_in_progress %>
      <% if @node_percent_in_progress != 0 %>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= @node_percent_in_progress %>%;">
          <%= @node_percent_in_progress %>%
      </div>
    <% end %>
    </div>

   <strong>Delivery Dates:</strong> 
   <% if @current_user.can_manage_product_for_node(@node) %>
    <%= link_to 'Add', new_delivery_date_path(@node) %>
   <% end %>
   <ul>
    <% @delivery_dates.each do |date| %>
      <li><%= date.delivery_type %> <%= date.environment.name %> with <%= date.milestone.name %> <%= link_to 'edit', edit_delivery_date_path(date) %> </li>
    <% end %>
   </ul>
  <% if @node.nodeType.specification %>
   <br/>

   <% end %>

  <strong>Phases:</strong> 
  <% if @current_user.can_manage_phases %>
    <%= link_to 'Add' , new_phase_path(@node) %>
  <% end %>
  <% if !@node.nodeType.specification %>
    <%= render 'dev_process' %>
  <% end %>
  <br/> 

  <strong>Questions:</strong> <%= link_to 'Add' , new_question_path(@node) %> <br/>
  <% if @nodeQuestions.count > 0 %>
    <ul>
      <% @nodeQuestions.each do |question| %>
        <li>
          <%= link_to question.question, question %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if !@node.nodeType.specification and @subQuestions.count > 0 %>
  <strong>Subordinate Node Questions</strong>
   <ul>
    <% @subQuestions.each do |question| %>
      <li>
          <%= link_to question.node.name, question.node %> > <%= link_to question.question, question %>
      </li>
    <% end %>
  </ul>
  <% end %>

<strong>Issues:</strong> <%= link_to 'Open New Issue', new_native_issue_path(@node) %><br/><br/>
<% if @issues.count > 0 %>
  <ul>
    <% @issues.each do |issue| %>
      <li>
        <% if issue.class.name != "NativeIssue" %>
          <% @gitHubRepo = GitHubRepo.where(:id => issue.repo_id).first.repo %>
          <%= link_to image_tag('https://assets-cdn.github.com/favicon.ico', :width => "17px" ) , 'https://github.com/dylanpavelko/'+@gitHubRepo+'/issues/' + issue.number.to_s , target: "_blank"%>
          <%= link_to issue.title , issue %>
        <% else %>
        <%= link_to issue.summary, issue %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %> 

<% if @subIssues.count > 0 %>
<strong>Subordinate Node Issues:</strong><br/>
  <ul>
    <% @subIssues.each do |issue| %>
      <li>
        <% if issue.class.name == "GitHubIssue" %>
          <%= link_to issue.node.name , issue.node %> > <%= link_to issue.title , issue %>
        <% else %>
          <%= link_to issue.issue_with.name, issue.issue_with %> > <%= link_to issue.summary, issue %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %> 
<% if @issue_resolutions.count > 0 %>
  <strong>Resolves Issues</strong>
  <ul>
  <% @issue_resolutions.each do |issue| %>
        <li>
          <% if issue.class.name == "GitHubIssue" %>
            <%= link_to issue.title , issue %>
          <% else %>
            <%= link_to issue.summary, issue %>
         <% end %>
       </li>
  <% end %>
  <ul>
<% end %>
  <strong>Related Nodes:</strong>
  <br/>
<% if @node.nodeType.specification %>
<strong>Functional Design Document</strong>
<% @fdds.each do |has_fdd| %>
  <br/><%= link_to has_fdd.FDD.name, has_fdd.FDD.url, :target => "_blank" %> <%= link_to "View All Specs for FDD", has_fdd.FDD %>
<% end %> 
<br/>
<%= link_to "Add Link", new_node_has_functional_design_document_path(@node) %>
<% end %>
<% if @node.nodeType.feature %>
<strong>Team:</strong><br/>
<% @node.team_members.each do |team_member| %>
  <%= team_member.user.display_name %> - <%= team_member.role.name %>
  <% if team_member.lead %>
   Lead
  <% end %>
  <%= link_to "Edit", edit_user_has_role_for_node_path(team_member) %>
  <br/>
<% end %>
<% end %>
<% if @current_user.can_manage_people %>
<%= link_to "Add Team Member", new_user_has_role_for_node_path(@node) %>
<% end %>
  </div>
</div>

<div>
 

</div>
<div>
</div>

<script type="text/javascript">
function handler(event) {
    event.stopPropagation();
    // now do your stuff        
}
$('a.node').click(handler);

$('a[id*="phase-done"]').click(function(){
    var phase_id = $(this).attr('id').split("done")[1];
    $.ajax({url: "/phase/set_status", type: "POST", data: {'id': phase_id ,'phase_status': false}, dataType: 'json'});
});

$('a[id*="phase-mark-done"]').click(function(){
    var phase_id = $(this).attr('id').split("done")[1];
    $.ajax({url: "/phase/set_status", type: "POST", data: {'id': phase_id ,'phase_status': true}, dataType: 'json'});
});

$('a[class^="set-phase-status"]').click(function(){
    var phase_id = $(this).attr('id');
    var class_name = $(this).attr('class');
    if(class_name=="set-phase-status-done"){
      var progress_status = 1;
    }else if(class_name=="set-phase-status-in-progress"){
      var progress_status = 2;
    }else if(class_name=="set-phase-status-backlog"){
      var progress_status = null;
    }

    $.ajax({url: "/phase/set_progress_status", type: "POST", data: {'id': phase_id ,'phase_progress_status': progress_status}, dataType: 'json'});
    
  });

</script>

