<%= form_for(@native_issue) do |f| %>
  <% if @native_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@native_issue.errors.count, "error") %> prohibited this native_issue from being saved:</h2>

      <ul>
      <% @native_issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field col-md-6">
    <%= f.label :issue_with_id %>: <%= @node.name %><br>
    <%= f.hidden_field :issue_with_id, :value => @node.id %>
  </div>
  <% if !@native_issue.persisted? or @workspace != nil %>
  <div class="field col-md-6" id="import_asana_container">
    <strong>Import Issue (Asana) URL:</strong>
    <%= f.text_field :asana_url, :class => "form-control" %>
    <button id="import" class="btn btn-sm btn-default" type="button">Import</button>
    <%= f.hidden_field :asana_id %>
    <%= f.hidden_field :asana_name %>
    <%= f.hidden_field :asana_workspace_id, :value => @workspace.id %>
    <span id="import_asana"></a>
  </div>
  <% end %>
  <div class="field col-md-12">
    <%= f.label :summary %><span style="color:red;">*</span> <%= f.text_field :summary , :class => "form-control" %>
  </div>
  <div class="field col-md-12">
    <%= f.label :description %><br>
    Please specify and steps necessary to reproduce the issue.<br/>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="field col-md-12">
    <%= f.label :enhancement %><br>
    <%= f.check_box :enhancement %>
  </div>
  <div class="field col-md-12">
    <%= f.label :added_by_id, "Added by User" %><span style="color:red;">*</span><br>
    <% if @native_issue.added_by_id != nil %>
        <%= f.select :added_by_id, options_from_collection_for_select(User.all, :id, :display_name, @native_issue.added_by_id), {:include_blank => true}, {:class => "form-control"} %>
    <% else %>
      <%= f.select :added_by_id, options_from_collection_for_select(User.all, :id, :display_name), {:include_blank => true}, {:class => "form-control"} %>
    <% end %>
  </div>

<% if @native_issue.persisted? %> 
  <div class="field col-md-12">
    <% @node_context    = nil
       @node_parents    = nil
       @node_label      = "Resolved with: "
       @button_text     = "Choose A Different Node that Resolves Issue"
       @node_form_id    = "native_issue_resolved_with_id"
       @node_form_name  = "native_issue[resolved_with_id]" %>
    <%= render "nodes/node_chooser" %>
  </div>

  <div class="field col-md-12">
    <%= f.label :close_without_resolution %><br>
    <%= f.check_box :close_without_resolution %>
  </div>
<% end %>
  <div class="actions col-md-12">
    <% if @native_issue.persisted? %>
      <%= f.submit "Update Issue", :class => "btn btn-success" %> 
    <% else %>
      <%= f.submit "Open Issue", :class => "btn btn-success" %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">

$('body').on('keypress', '#native_issue_asana_url', function (e) {
     if(e.which == 13) {
      e.preventDefault();
       $url = $('#native_issue_asana_url').val();
       get_asana_data_from_url($url)
     }
});


$('#import').click(function(){
  $url = $('#native_issue_asana_url').val();
  $('#import').text("Importing...")
  $('#import').removeClass("btn-default");
  $('#import').addClass("btn-warning");
   get_asana_data_from_url($url)
})

function get_asana_data_from_url(url_string){
  $workspace = $('#native_issue_asana_workspace_id').val()
  $.ajax({
    url: "/get_asana_task_from_url",
    data: {
      url: url_string, 
      workspace_id: $workspace
    },
    success: function(data){
      //console.log(data[1][0]);
      $('#native_issue_summary').val(data[1][0].name);
      $('#native_issue_asana_name').val(data[1][0].name);
      $('#native_issue_asana_id').val(data[1][0].id);
      $('#native_issue_description').val(data[1][0].notes);
      $('#import').text("Import")
      $('#import').removeClass("btn-warning");
      $('#import').addClass("btn-default");
    }
  });
}
</script>

