<% content_for :title, "Issues" %>
<script type="text/javascript">
  var currentTime = new Date();
  var utcOffset   = currentTime.getTimezoneOffset()
  document.cookie = 'time_zone_offset='+utcOffset+';';
</script>
<%  offset = cookies["time_zone_offset"].to_i
  time_zone = ActiveSupport::TimeZone[-offset.minutes] %>
<h1>Product Issues</h1>

<% if @current_user.power_admin? %>
Filter Issues with #NODE CHOOSER# 
Opened By <%= select_tag :opened_by, options_from_collection_for_select(User.all, :id, :display_name), {:include_blank => true} %> 
Between <%= date_field_tag :range_begin %> to <%= date_field_tag :range_end %> 
With Status 
<select>
  <option>Open</option>
  <option>Open without Resolution</option>
  <option>Resolved</option>
</select>
<button class="btn btn-default">Filter Issues</button>
<hr>
<% end %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Issue with</th>
      <th>Issue Type</th>      
      <th>Issue Summary</th>
      <th>Resolve with</th>
      <th>Status</th>
      <th>Opened</th>
    </tr>
  </thead>

  <tbody>
    <% @native_issues.each do |native_issue| %>
      <tr>
        <td><%= link_to native_issue.issue_with.name, native_issue.issue_with %></td>
        <td>
          <% if native_issue.enhancement %>
            Enhancement
          <% else %>
            Defect
          <% end %>
        </td>
        <td><%= link_to native_issue.summary, native_issue %></td>


        <td>
          <% if native_issue.resolved_with != nil %>
            <%= link_to native_issue.resolved_with.name, native_issue.resolved_with %>
          <% end %>
        </td>
        <td></td>
        <td><%= native_issue.created_at.in_time_zone(time_zone).strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>