<% content_for :title, "Issue - " + @native_issue.summary %>
<script type="text/javascript">

var currentTime = new Date();
var utcOffset   = currentTime.getTimezoneOffset()
document.cookie = 'time_zone_offset='+utcOffset+';';

</script>

<%  offset = cookies["time_zone_offset"].to_i
  time_zone = ActiveSupport::TimeZone[-offset.minutes] %>

<p id="notice"><%= notice %></p>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Issue:</strong> <%= @native_issue.summary %> <small><%= link_to 'Edit', edit_native_issue_path(@native_issue) %></small></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Issue Status:</strong>
      <%= @native_issue.status %>
    </p>
    <p>
      <strong>Issue with:</strong>
      <%= link_to @native_issue.issue_with.name, @native_issue.issue_with %>
    </p>

    <p>
      <strong>Issue Type:</strong>
      <% if @native_issue.enhancement %>
        Enhancement
      <% else %>
        Defect
      <% end %>
    </p>

    <p>
      <strong>Resolved with:</strong>
      <% if @native_issue.resolved_with != nil %>
      <%= link_to @native_issue.resolved_with.name, @native_issue.resolved_with %>
      <% end %>
    </p>

    <p>
      <strong>Description:</strong><br/>
      <%=auto_link(simple_format(@native_issue.description), :html => { :target => '_blank' })%>
    </p>
    <img src="http://img.talkandroid.com/uploads/2015/03/sheets-logo.png" width="50px" />
    <% @in_google_sheets.each do |google_sheet|%>
      Exists in Google Sheet <%= link_to google_sheet.google_sheet.name, "https://docs.google.com/spreadsheets/d/" + google_sheet.google_sheet.key, :target => "_blank" %> with ID# <%= google_sheet.external_id %><br/>
    <% end %>
    </div>
    <div class="panel-body" id="external_link"> 
      <% if JiraRepo.all.count > 0 %>
    <button class="btn btn-default" id="jira_link"><%= image_tag "https://jira.atlassian.com/s/en_UK-zad234/71006/b6b48b2829824b869586ac216d119363/_/favicon.ico", :width => "20px" %> Link to Jira Issue</button>
    <% end %>
    <!--
    <button class="btn btn-default" id="asana_link"><%= image_tag "http://asanatraining.com/wp-content/uploads/2015/10/Asana-Logo_Full-Color-Mark.png", :width => "20px" %> Link to Asana Task</button>-->
    <%#= hidden_field_tag :asana_id %>
    <%#= hidden_field_tag :asana_name %>
    <%#= hidden_field_tag :asana_workspace_id, :value => @workspace.id %>
    </div>
<%#= link_to "Add Asana Link", new_native_issue_has_asana_path(:native_issue => @native_issue.id) %>
  <div class="panel-body" style="padding-bottom:0px;"> 
    <% if @has_asanas.count > 0 or @has_jiras.count > 0%>
    <strong>Linked Issues</strong> </div>
    <table class="table">
    <% @has_asanas.each do |has_asana| %>
      <tr><td>
        <a href="<%= has_asana.asana_task.url %>" target="_blank"><img src="http://asanatraining.com/wp-content/uploads/2015/10/Asana-Logo_Full-Color-Mark.png" width="15"/></a>
         <%= link_to has_asana.asana_task.display, has_asana.asana_task %>
       </td></tr>
    <% end %>
    <% @has_jiras.each do |has_jira| %>
      <tr><td>
        <a href="<%= has_jira.jira.url %>" target="_blank"><img src="https://jira.atlassian.com/s/en_UK-zad234/71006/b6b48b2829824b869586ac216d119363/_/favicon.ico" width="15"/></a>
         <%= link_to has_jira.jira.summary, has_jira.jira %>
       </td></tr>
    <% end %>
    </table>
  <% end %>
</div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Customer Impact</h3>
  </div>
  <div class="panel-body">
    <table>
      <% @has_impacts.each do |has_impact| %>
      <tr>
        <td width="130px">
          <%= has_impact.impact_text %> for
        </td>
        <td>
          <%= link_to has_impact.customer.name, has_impact.customer %> <%= link_to "edit", edit_native_issue_has_impact_path(has_impact) %> <%= link_to "x", has_impact, method: :delete, data: { confirm: 'Are you sure you want to remove this customer impact?' } %>
        </td>
      </tr>
      <% end %>
    </table>
    <div id="add_impact_button">
    <% if @has_impacts.count > 0 %>
      <button class="btn btn-default" id="add_customer_impacts">Add Additional Customer Impacts</button>
    <% else %>
      <button class="btn btn-default" id="add_customer_impacts">Add Customer Impact</button>
    <% end %>
    </div>
    <div id="impact_form_fields">
    </div>
  </div>
</div>
</div>
<div class="col-md-12">
<% if @native_issue.close_without_resolution %>
<p>
  <strong>Close without resolution:</strong>
  <%= @native_issue.close_without_resolution %>
</p>
<% end %>


<br/>
<% if @native_issue.added_by != nil %>
  Added by <%= @native_issue.added_by.display_name %> on <%= @native_issue.created_at.in_time_zone(time_zone).strftime("%m/%d/%Y at %I:%M%p") %>
<% end %>
<hr>
<% @has_responses.each do |has_response| %>
  <%= has_response.response.user.display_name %> Responsed on <%= has_response.response.created_at.in_time_zone(time_zone).strftime("%m/%d/%Y at %I:%M%p") %>:
  <blockquote>
  <p>
    <%= has_response.response.content %>
  </p>
  </blockquote>
  <hr>
<% end %>

<%= hidden_field_tag :native_issue_id, @native_issue.id %> 
<%= hidden_field_tag :user_id, @current_user.id %> 
<%= text_area_tag :response , "", options = {class: "form-control", cols: 40, rows: 6, placeholder:"Add Response..."} %> 
<br/>
<button id="post-response" class="btn btn-default btn-success">Post Response</button>
<br/>

</div>

<script type="text/javascript">

$(document.body).on('click', '#add_customer_impacts', function(){
  $('#impact_form_fields').html(
      "<div id='add_impact_form'>" +
      "<select id='impact_id' name='impact_id'>" +
      "  <option value='1'>Blocker</option>" +
      "  <option value='2'>Critical</option>" +
      "  <option value='3' selected>Nice to have</option>" +
      "</select>" +
      "for <%= escape_javascript select_tag :customers, options_from_collection_for_select(Customer.all.sort_by {|c| c.name}, :id, :name), :include_blank => true %>" +
      "<table>" +
      "  <tr>" +
      "    <td width='130px'>" +
      "    </td>" +
      "    <td>" +
      "      <span id='customer_list'></span>" +
      "    </td>" +
      "  </tr>" +
      "</table>" +
      "<br/><br/>" +
      "<button class='btn btn-success' id='post_customer_impacts'>Update Customer Impact</button> <a id='cancel_customer_impacts'>Cancel</a>" +
      "</div>"
    );
  $('#impact_form_fields').show();
  $('#add_impact_button').hide();
});

$(document.body).on('click', '#cancel_customer_impacts', function(){
  $('#add_impact_button').show();
  $('#impact_form_fields').hide();
});

//AJAX Method to Post a Issue Response
$(document.body).on('click', '#post-response' ,(function(){
    //get question id
  $native_issue = $('#native_issue_id').val();
  //get response
  $response = $('#response').val();
  //get current user id
  $user = $('#user_id').val();
  //send to ajax call
  //when done update view to make it look like the response has been posted and reset the response options
    $.ajax({url: "/add_response_to_native_issue", 
            type: "POST", 
            data: {'native_issue_id': $native_issue,
              'response' : $response,
              'user_id': $user}, 
            dataType: 'json'}).done(function(data)  {
                if(!data.error) location.reload(true);
            }).fail(function(e, ts, et)  {
                alert("Sorry. Server unavailable. " + ts);
            }); 
  }));

//Shows Jira Issue Fields
$(document.body).on('click', '#jira_link' ,(function(){
  $("#external_link").html(
    "<input type='text' class='form-control' placeholder='Enter Jira URL' id='jira_url' autocomplete='off'>" + 
    "<input class='form-control' placeholder='Enter Jira Summary' id='summary' name='native_issue[summary]' type='text'>" +
    "<button class='btn btn-default' id='add_jira'>Add Jira Link</button>" + 
    " <a id='link_cancel'>Cancel</a>"
    );
  }));

//AJAX Method to link Jira Issue to Native Issue
$(document.body).on('click', '#add_jira' ,(function(){
  //get jira summary
  $summary = $('#summary').val();
  if($summary == "" || $summary == null){
    alert("A Jira Summary is required");
    return false;
  }

  $native_issue = <%= @native_issue.id %>;
  //get jira url
  $url = $('#jira_url').val();
  $jira_key = $url.split('/browse/')[1];
  //get jira summary
  $summary = $('#summary').val();

  //send to ajax call
  //when done update view to make it look like the response has been posted and reset the response options
    $.ajax({url: "/add_jira_to_native_issue", 
            type: "POST", 
            data: {'native_issue_id': $native_issue,
              'jira_key' : $jira_key,
              'jira_summary': $summary}, 
            dataType: 'json'}).done(function(data)  {
                if(!data.error) location.reload(true);
            }).fail(function(e, ts, et)  {
                alert("Sorry. Server unavailable. " + ts);
            }); 
  }));

//Shows Asana Import Task Fields
$(document.body).on('click', '#asana_link' ,(function(){
  $("#external_link").html(
    "<input type='text' class='form-control' placeholder='Enter Asana URL' id='asana_url' autocomplete='off'>" + 
    "<button id='import' class='btn btn-sm btn-default' type='button'>Import</button>" +
    "<button class='btn btn-default' id='add_asana'>Add Asana Link</button>" + 
    " <a id='link_cancel'>Cancel</a>"
    );
  }));

//Removes Jira/Asana Fields and adds the Link buttons back
$(document.body).on('click', '#link_cancel' ,(function(){
  $("#external_link").html(
    "<button class='btn btn-default' id='jira_link'><%= escape_javascript image_tag 'https://jira.atlassian.com/s/en_UK-zad234/71006/b6b48b2829824b869586ac216d119363/_/favicon.ico', :width => '20px' %> Link to Jira Issue</button> "
   // + "<button class='btn btn-default' id='asana_link'><%= escape_javascript image_tag 'http://asanatraining.com/wp-content/uploads/2015/10/Asana-Logo_Full-Color-Mark.png', :width => '20px' %> Link to Asana Task</button>"
    );
  }));

//Removes Customer from Drop List when adding customer impacts
$(document.body).on('click', '#remove_customer' ,(function(){
  $(this).parent().remove();
  }));

//Adds Customer to Drop List when adding customer impacts
$(document.body).on('change', '#customers' ,(function(){
  $customer_name = $( "#customers option:selected" ).text();
  $customer_id = $( "#customers option:selected" ).val();
  if(selected_customer_not_already_listed($customer_id)){
    $("#customer_list").append("<span id='customer_id' data='"+$customer_id+"'>&#8226; " + $customer_name+" <a id='remove_customer'>X</a><br/></span>");
  }
  $("#customers option:selected").removeAttr("selected");
}));

function selected_customer_not_already_listed($customer_id){
  $not_in_list = true;
  $('#customer_list').children().each(function(){ 
    if($(this).attr("data") == $customer_id){
      $not_in_list = false;
    }
  });
  return $not_in_list;
}

//AJAX Method to Add Customer Impacts to Native iSsue
$(document.body).on('click', '#post_customer_impacts' ,(function(){
  //get all customers
  $customers = []
  $('#customer_list').children().each(function(){ 
    $customers.push($(this).attr("data"));
  });
  //validate that there is atleast one customer
  if($customers.length == 0){
    alert("At least one customer must be selected");
    return false;
  }

  //get customer impact
  $impact = $('#impact_id option:selected').val();
  //get native issue id
  $native_issue = <%= @native_issue.id %>;

  //send to ajax call
    $.ajax({url: "/add_customer_impact_to_native_issue", 
            type: "POST", 
            data: {'native_issue_id': $native_issue,
              'impact' : $impact,
              'customers': $customers}, 
            dataType: 'json'}).done(function(data)  {
                if(!data.error) location.reload(true);
            }).fail(function(e, ts, et)  {
                alert("Sorry. Server unavailable. " + ts);
            }); 
}));

</script>
