<% content_for :title, "Issue - " + @native_issue.summary %>
<script type="text/javascript">

var currentTime = new Date();
var utcOffset   = currentTime.getTimezoneOffset()
document.cookie = 'time_zone_offset='+utcOffset+';';

</script>

<%  offset = cookies["time_zone_offset"].to_i
  time_zone = ActiveSupport::TimeZone[-offset.minutes] %>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Issue:</strong> <%= @native_issue.summary %> <small><%= link_to 'Edit', edit_native_issue_path(@native_issue) %></small></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Issue Status:</strong>
      <%= @native_issue.status %>
    </p>
    <p>
      <strong>Issue with:</strong>
      <%= link_to @native_issue.issue_with.name, @native_issue.issue_with %>
    </p>

    <p>
      <strong>Issue Type:</strong>
      <% if @native_issue.enhancement %>
        Enhancement
      <% else %>
        Defect
      <% end %>
    </p>

    <p>
      <strong>Resolved with:</strong>
      <% if @native_issue.resolved_with != nil %>
      <%= link_to @native_issue.resolved_with.name, @native_issue.resolved_with %>
      <% end %>
    </p>

    <p>
      <strong>Description:</strong><br/>
      <%=auto_link(simple_format(@native_issue.description), :html => { :target => '_blank' })%>
    </p>
    </div>

  <% if @has_asanas.count > 0 %>
  <div class="panel-body" style="padding-bottom:0px;"> 
    <strong>Linked Asanas</strong> <%= link_to "Add Asana Link", new_native_issue_has_asana_path(:native_issue => @native_issue.id) %></div>
    <table class="table">
    <% @has_asanas.each do |has_asana| %>
      <tr><td>
        <a href="<%= has_asana.asana_task.url %>" target="_blank"><img src="http://asanatraining.com/wp-content/uploads/2015/10/Asana-Logo_Full-Color-Mark.png" width="15"/></a>
         <%= link_to has_asana.asana_task.display, has_asana.asana_task %>
       </td></tr>
    <% end %>
    </table>
  <% end %>
</div>


<% if @native_issue.close_without_resolution %>
<p>
  <strong>Close without resolution:</strong>
  <%= @native_issue.close_without_resolution %>
</p>
<% end %>


<br/>
<% if @native_issue.added_by != nil %>
  Added by <%= @native_issue.added_by.display_name %> on <%= @native_issue.created_at.in_time_zone(time_zone).strftime("%m/%d/%Y at %I:%M%p") %>
<% end %>
<hr>
<% @has_responses.each do |has_response| %>
  <%= has_response.response.user.display_name %> Responsed on <%= has_response.response.created_at.in_time_zone(time_zone).strftime("%m/%d/%Y at %I:%M%p") %>:
  <blockquote>
  <p>
    <%= has_response.response.content %>
  </p>
  </blockquote>
  <hr>
<% end %>

<%= hidden_field_tag :native_issue_id, @native_issue.id %> 
<%= hidden_field_tag :user_id, @current_user.id %> 
<%= text_area_tag :response , "", options = {class: "form-control", cols: 40, rows: 6, placeholder:"Add Response..."} %> 
<br/>
<button id="post-response" class="btn btn-default btn-success">Post Response</button>
<br/>


<script type="text/javascript">

$(document.body).on('click', '#post-response' ,(function(){
    //get question id
  $native_issue = $('#native_issue_id').val();
  //get response
  $response = $('#response').val();
  //get current user id
  $user = $('#user_id').val();
  //send to ajax call
  //when done update view to make it look like the response has been posted and reset the response options
    $.ajax({url: "/add_response_to_native_issue", 
            type: "POST", 
            data: {'native_issue_id': $native_issue,
              'response' : $response,
              'user_id': $user}, 
            dataType: 'json'}).done(function(data)  {
                if(!data.error) location.reload(true);
            }).fail(function(e, ts, et)  {
                alert("Sorry. Server unavailable. " + ts);
            }); 
  }));


$(document.body).on('click', '#jira_link' ,(function(){
  $("#external_link").html(
    "<input type='text' class='form-control' placeholder='Enter Jira URL' id='jira_url' autocomplete='off'>" + 
    "<button class='btn btn-default' id='add_jira'>Add Jira Link</button>" + 
    " <a id='link_cancel'>Cancel</a>"
    );
  }));

$(document.body).on('click', '#asana_link' ,(function(){
  $("#external_link").html(
    "<input type='text' class='form-control' placeholder='Enter Asana URL' id='asana_url' autocomplete='off'>" + 
    "<button class='btn btn-default' id='add_asana'>Add Asana Link</button>" + 
    " <a id='link_cancel'>Cancel</a>"
    );
  }));

$(document.body).on('click', '#link_cancel' ,(function(){
  $("#external_link").html(
    "<button class='btn btn-default' id='jira_link'><%= escape_javascript image_tag 'https://jira.atlassian.com/s/en_UK-zad234/71006/b6b48b2829824b869586ac216d119363/_/favicon.ico', :width => '20px' %> Link to Jira Issue</button> <button class='btn btn-default' id='asana_link'><%= escape_javascript image_tag 'http://asanatraining.com/wp-content/uploads/2015/10/Asana-Logo_Full-Color-Mark.png', :width => '20px' %> Link to Asana Task</button>"
    );
  }));
</script>
