<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Change Password</h1>
    <p> <strong> Username: <%= @user.username %> </strong> </p>
    <p> Reset Password:</br> <%= f.password_field :password%></p>
    <p> Reset Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>

    <%= f.hidden_field :password_reset, :value => 0 %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
