<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Power Admin</th>
      <th>Password Reset</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to (user.first_name + " " + user.last_name), user %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.power_admin %></td>
        <td><%= user.password_reset %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add User', new_user_path %>
