<% content_for :title, @user.display_name %>
<%= render 'nodes/filters' %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <h1><img src="<%= @user.picture %>" width="150" style="border-radius:50%"/> <%= @user.first_name %> <%= @user.last_name %></h1>
  
    <p> <strong>Username:</strong></br> <%= @user.username %> </p>
    <p> <strong>Email:</strong></br> <%= @user.email %> </p>
    <% if @user.password_reset == 1 %><p> Re-set Password on Login:  true </p><% end %>

    <p>
    <strong>Roles:</strong>
    <% if @my_non_feature_roles.count > 0 %>
      <ul>
        <% @my_non_feature_roles.each do |has_role| %>
          <li>
            <%= link_to has_role.role.name, has_role.role %>
            <% if has_role.node != nil %>
              for <%= link_to has_role.node.name, has_role.node %>
            <% end %>
            <% link_to "edit", edit_user_has_role_for_node_path(has_role) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @current_user.can_manage_people %>
      <%= link_to "Add Roles", new_user_has_role_for_node_path %>
    <% end %>
    </p>
<% if @current_user.power_admin %>
  <%= link_to "All Users", users_path %>
<% end %>
</div>

<h4>Product Feature Roles:</h4>
<%= render 'sessions/user_features' %>