  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>View User: <%= @user.first_name %> <%= @user.last_name %></h1>
    <p> Username:</br> <%= @user.username %> </p>
    <p> Email:</br> <%= @user.email %> </p>
    <% if @user.password_reset == 1 %><p> Re-set Password on Login:  true </p><% end %>

    <p>
    <strong>Roles:</strong>
    <% if @roles.count > 0 %>
      <ul>
        <% @roles.each do |has_role| %>
          <li>
            <%= link_to has_role.role.name, has_role.role %>
            <% if has_role.node != nil %>
              for <%= link_to has_role.node.name, has_role.node %>
            <% end %>
            <% link_to "edit", edit_user_has_role_for_node_path(has_role) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to "Add Roles", new_user_has_role_for_node_path %>
    </p>
<%= link_to "All Users", users_path %>