<% content_for :title, @customer.name + "Issues" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer.name %>
</p>
<h3>Customer Issues</h3>
<table class='table table-hover'>
	<tr>
		<th>Impact</th>
		<th>Priority</th>
		<th>Issue With</th>
		<th>Issue</th>
		<th>Status</th>
		<th>Resolved With</th>
		<th>Target Date</th>
	</tr>
	<% @has_issues.each do |has_issue| %>
		<tr <% if has_issue.native_issue.status  == "Closed" %> class="active" <% end %>>
			<td><%= has_issue.impact_text %></td>
			<td><%= has_issue.priority %></td>
			<td><%= link_to has_issue.native_issue.issue_with.name, has_issue.native_issue.issue_with %></td>
			<td><%= link_to has_issue.native_issue.summary, has_issue.native_issue %></td>
			<td><%= has_issue.native_issue.status %></td>
			<td>
				<% if has_issue.native_issue.resolved_with != nil  %>
					<%= link_to has_issue.native_issue.resolved_with.name, has_issue.native_issue.resolved_with %>
				<% end %>
			</td>
			<td>
				<% if has_issue.native_issue.resolved_with != nil and has_issue.native_issue.resolved_with.get_earliest_delivery_date != nil %>
					<%= has_issue.native_issue.resolved_with.get_earliest_delivery_date.strftime("%m/%d/%Y") %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
