<%= form_for(@git_hub_repo) do |f| %>
  <% if @git_hub_repo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@git_hub_repo.errors.count, "error") %> prohibited this git_hub_repo from being saved:</h2>

      <ul>
      <% @git_hub_repo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repo %><br>
    <%= f.text_field :repo %>
  </div>
  <div class="field">
    <%= f.label :node_id %><br>
    <%= f.text_field :node_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
