<p id="notice"><%= notice %></p>

<p>
  <strong>Repo:</strong>
  <%= @git_hub_repo.repo %>
</p>

<p>
  <strong>Node:</strong>
  <%= link_to @git_hub_repo.node.name , @git_hub_repo.node%>
</p>

<p>
  <strong>User:</strong>
  <%= @git_hub_repo.user.username %>
</p>

<p>
	<strong>GitHub Issues</strong><br/>
	<% @structuredResponse.each do |issue| %>
		<%= issue['title'] %><br/>
	<% end%>
</p>
<%= link_to 'Edit', edit_git_hub_repo_path(@git_hub_repo) %> |
<%= link_to 'Back', git_hub_repos_path %>
