<h1>Listing git_hub_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Oauth</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @git_hub_accounts.each do |git_hub_account| %>
      <tr>
        <td><%= git_hub_account.oauth %></td>
        <td><%= git_hub_account.user %></td>
        <td><%= link_to 'Show', git_hub_account %></td>
        <td><%= link_to 'Edit', edit_git_hub_account_path(git_hub_account) %></td>
        <td><%= link_to 'Destroy', git_hub_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Git hub account', new_git_hub_account_path %>
