<h1>Listing asana_auth_end_points</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Auth code</th>
      <th>Bearer token</th>
      <th>Token date</th>
      <th>Refresh token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asana_auth_end_points.each do |asana_auth_end_point| %>
      <tr>
        <td><%= asana_auth_end_point.user %></td>
        <td><%= asana_auth_end_point.auth_code %></td>
        <td><%= asana_auth_end_point.bearer_token %></td>
        <td><%= asana_auth_end_point.token_date %></td>
        <td><%= asana_auth_end_point.refresh_token %></td>
        <td><%= link_to 'Show', asana_auth_end_point %></td>
        <td><%= link_to 'Edit', edit_asana_auth_end_point_path(asana_auth_end_point) %></td>
        <td><%= link_to 'Destroy', asana_auth_end_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
