<h1>Listing native_issue_has_impacts</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Native issue</th>
      <th>Impact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @native_issue_has_impacts.each do |native_issue_has_impact| %>
      <tr>
        <td><%= native_issue_has_impact.customer %></td>
        <td><%= native_issue_has_impact.native_issue %></td>
        <td><%= native_issue_has_impact.impact %></td>
        <td><%= link_to 'Show', native_issue_has_impact %></td>
        <td><%= link_to 'Edit', edit_native_issue_has_impact_path(native_issue_has_impact) %></td>
        <td><%= link_to 'Destroy', native_issue_has_impact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Native issue has impact', new_native_issue_has_impact_path %>
