<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= link_to @native_issue_has_impact.customer.name, @native_issue_has_impact.customer %>
</p>

<p>
  <strong>Native issue:</strong>
  <%= link_to @native_issue_has_impact.native_issue.summary, @native_issue_has_impact.native_issue %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @native_issue_has_impact.impact_text %>
</p>

<%= link_to 'Edit', edit_native_issue_has_impact_path(@native_issue_has_impact) %> |
<%= link_to 'Back', native_issue_has_impacts_path %>
