<%= form_for(@dependable) do |f| %>
  <% if @dependable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dependable.errors.count, "error") %> prohibited this dependable from being saved:</h2>

      <ul>
      <% @dependable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- Node FIELD -->
<%= @dependentPhase.phaseType.name %> of
<em><%= @dependentPhase.node.name %> </em>depends on

<%= f.hidden_field :dependentNode_id %>
<%= f.hidden_field :dependentPhase_id , value: @dependentPhase.id %>
<input type="hidden" id="dependentTask_id" readonly>
    <% if @dependable.phase == nil
        @node_context    = @dependentPhase.node
        @node_parents    = @dependentPhase.node.parents
       else 
        @node_context    = @dependable.phase.node
        @node_parents    = @dependable.phase.node.parents
       end

       @node_label      = ""
       @button_text     = "Choose the Dependency"
       @node_form_id    = "dependable_node_id"
       @node_form_name  = "dependable[node_id]" 
       @phase_chooser   = true
       @phase_context   = @dependable.phase
       @phase_form_id   = "dependable_phase_id"
       @phase_form_name = "dependable[phase_id]"             %>
    <%= render "nodes/node_chooser" %>



<!-- PHASE FIELD -->
  <div class="field">
    <%#= f.label :task %><br>
    <%#= f.select :task_id, options_from_collection_for_select(Task.all, :id, "name"), :include_blank => true %>
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-success"%>
  </div>
<% end %>
