<h1>Listing dependables</h1>

<table>
  <thead>
    <tr>
      <th>Dependent</th>
      <th>Dependency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependables.each do |dependable| %>
      <tr>
        <td>
           <% if dependable.phase != nil %>
            <%= link_to dependable.depentPhase.name, dependable.depentPhase.node %>
            <% end %>
        </td>
        <td>
          <% if dependable.phase != nil %>
            <%= link_to dependable.phase.name, dependable.phase.node %>
          <% end %>
        </td>
        <td><%= link_to 'Show', dependable %></td>
        <td><%= link_to 'Edit', edit_dependable_path(dependable) %></td>
        <td><%= link_to 'Destroy', dependable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependable', new_dependable_path %>
