<h1>Listing inbox_items</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Activity</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inbox_items.each do |inbox_item| %>
      <tr>
        <td><%= inbox_item.user.display_name if inbox_item.user%></td>
        <td>
          <% if inbox_item.activity_id != nil %>
            <%= inbox_item.activity %>
          <% end %>
        </td>
        <td><%= inbox_item.read %></td>
        <td><%= link_to 'Show', inbox_item %></td>
        <td><%= link_to 'Edit', edit_inbox_item_path(inbox_item) %></td>
        <td><%= link_to 'Destroy', inbox_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inbox item', new_inbox_item_path %>
