<%= form_for(@native_issue_has_asana) do |f| %>
  <% if @native_issue_has_asana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@native_issue_has_asana.errors.count, "error") %> prohibited this native_issue_has_asana from being saved:</h2>

      <ul>
      <% @native_issue_has_asana.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asana_task_id %><br>
      <% if @native_issue_has_asana.asana_task != nil %>
    <%= f.select :asana_task_id, options_from_collection_for_select(AsanaTask.all, :id, :display, @native_issue_has_asana.asana_task), :include_blank => true %>
  <% else %>
    <%= f.select :asana_task_id, options_from_collection_for_select(AsanaTask.all, :id, :display), :include_blank => true %>
  <% end %>
  <%= link_to "Add Asana Task Link" , new_asana_task_path, :target => "_blank" %>
  </div>
  <div class="field">
    <%= f.label :native_issue_id %><br>
    <%= f.text_field :native_issue_id, :value => params[:native_issue] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
