<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @user_has_role_for_node.user.display_name, @user_has_role_for_node.user %>
</p>

<p>
  <strong>Role:</strong>
  <%= link_to @user_has_role_for_node.role.name, @user_has_role_for_node.role %>
  <% if @user_has_role_for_node.lead %>
   Lead
  <% end %>
</p>

<p>
  <strong>Node:</strong>
  <% if @user_has_role_for_node.node != nil %>
  	<%= link_to @user_has_role_for_node.node.name, @user_has_role_for_node.node %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_has_role_for_node_path(@user_has_role_for_node) %> |
<%= link_to 'Back', user_has_role_for_nodes_path %>
