<p id="notice"><%= notice %></p>
  <%= link_to image_tag('https://assets-cdn.github.com/favicon.ico') , 'https://github.com/dylanpavelko/'+@gitHubRepo+'/issues/' + @git_hub_issue.number.to_s , target: "_blank" %>
  <strong>Issue Number:</strong>
  <%= @git_hub_issue.number %>
 | 
  <strong>GitHub Integration ID:</strong>
  <%= @git_hub_issue.gitHubID %> 



</p>

<p>
  <strong>Title:</strong>
  <%= @git_hub_issue.title %>
</p>

<p>
  <strong>Created:</strong>
  <%= @git_hub_issue.created %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @git_hub_issue.updated %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @git_hub_issue.closed %>
</p>

<p>
  <strong>Body:</strong>
  <%= @git_hub_issue.body %>
</p>

<p>
  <strong>Node:</strong>
  <%= link_to @git_hub_issue.node.name , @git_hub_issue.node %>
</p>

<p>
  <strong>Repo:</strong>
  <%= link_to "Git Hub Repo", git_hub_repo_path(@git_hub_issue.repo_id) %>
</p>

<%= link_to 'Edit', edit_git_hub_issue_path(@git_hub_issue) %> |
<%= link_to 'Back', git_hub_issues_path %>


<% if @current_user.power_admin? %>
  <%= link_to "Delete GitHub Issue", @git_hub_issue, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>