<h1>Listing Asana Workspaces</h1>

<table>
  <thead>
    <tr>
      <th>Workspace</th>
      <th>Node</th>
      <th>Added by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asana_workspaces.each do |asana_workspace| %>
      <tr>
        <td><%= asana_workspace.workspace %></td>
        <td><%= asana_workspace.node %></td>
        <td><%= asana_workspace.added_by %></td>
        <td><%= link_to 'Show', asana_workspace %></td>
        <td><%= link_to 'Edit', edit_asana_workspace_path(asana_workspace) %></td>
        <td><%= link_to 'Destroy', asana_workspace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @auth_redirect_uri = "http://localhost:3000/asana_auth_end_points/new" %>
<%= link_to 'New Asana Authentication End Point', 
            "https://app.asana.com/-/oauth_authorize?client_id=79018136406691&redirect_uri=" + @auth_redirect_uri + "&response_type=code&state=123", 
            :target => "_blank" %>
