<h1>Listing Asana Workspaces</h1>

<table>
  <thead>
    <tr>
      <th>Workspace</th>
      <th>Node</th>
      <th>Added by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asana_workspaces.each do |asana_workspace| %>
      <tr>
        <td><%= asana_workspace.workspace %></td>
        <td><%= asana_workspace.node %></td>
        <td><%= asana_workspace.added_by %></td>
        <td><%= link_to 'Show', asana_workspace %></td>
        <td><%= link_to 'Edit', edit_asana_workspace_path(asana_workspace) %></td>
        <td><%= link_to 'Destroy', asana_workspace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Asana Workspace" , new_asana_workspace_path %>
<br/><br/>
<% @auth_redirect_uri = ENV["ASANA_REDIRECT_URI"] %>
<%= link_to image_tag("https://raw.githubusercontent.com/Asana/oauth-examples/master/public/asana-oauth-button-white.png"), "https://app.asana.com/-/oauth_authorize?client_id=" + ENV["ASANA_CLIENT_ID"] + "&redirect_uri=" + @auth_redirect_uri + "&response_type=code&state=123", 
            :target => "_blank" %>