<p id="notice"><%= notice %></p>
<img src="https://lh3.googleusercontent.com/EJEviNAy8fAdCNMrcxaZDYLH1AnDnvficaxztxPnEF-fN97TPHud2yKS1sKsuA_kT9Y=w300" />
<p>
  <strong>Workspace:</strong>
  <%= @asana_workspace.workspace %>
</p>

<p>
  <strong>Node:</strong>
  <%= @asana_workspace.node.name %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @asana_workspace.added_by.display_name %>
</p>

<p>
  <strong>Asana Endpoint by:</strong>
  <%= @asana_workspace.auth_endpoint_id %>
</p>

<%= link_to 'Edit', edit_asana_workspace_path(@asana_workspace) %> |
<%= link_to 'Back', asana_workspaces_path %>
