<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.owner.username %></td>
        <td>
          <% if @current_user.power_admin %>
            <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @current_user.power_admin && @top_nodes.count > 0 %>
<ul>
  <lh>Top Nodes</lh>
  <% @top_nodes.each do |node| %>
    <li><%= link_to node.name, node %></li>
  <% end %>
</ul>
<% end %>
<br>

<%= link_to 'New Organization', new_organization_path %>
