<h1>Action Items</h1>

<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Due</th>
      <th>Action from agenda item</th>
      <th>Complete</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @action_items.each do |action_item| %>
      <tr>
        <td><%= link_to action_item.name, action_item %></td>
        <td><%= action_item.description %></td>
        <td><%= action_item.complete %></td>
        <td><%= action_item.completed %></td>
        <td><%= action_item.due_override %></td>
        <td><%= action_item.due_by_meeting.display %></td>
        <td>
          <% if action_item.action_from_agenda_item != nil %>
            <%= link_to action_item.action_from_agenda_item.meeting.display, action_item.action_from_agenda_item.meeting %> > 
            <%= link_to action_item.action_from_agenda_item.name, action_item.action_from_agenda_item %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', action_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action item', new_action_item_path %>
