

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/sessions/home" style="padding:0px;padding-left:10px;" >
        <span><img alt="Brand" src="<%= asset_path 'favicon/favicon-96x96.png' %>" width="50"/> </span>Product Mapper
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <% if @current_user!= nil and @current_user.power_admin %>
          <li><%= link_to "Products", nodes_path %></li>
        <% end %>
        <% if @current_user != nil %>
        <li><%= link_to "In Progress", in_progress_path %></li>
        <li><%= link_to "View Issues", native_issues_path %></li>
        <% end %>
        <% if @current_user!= nil and @current_user.power_admin %>
              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Tasks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Task List', tasks_path %></li>
            <li><%= link_to 'Node Types', node_types_path %></li>
            <li><%= link_to 'Phase Types', phase_types_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Manage Asana Integrations', asana_workspaces_path %></li>
            <li><%= link_to 'Manage GitHub Integrations', git_hub_repos_path %></li>
          </ul>
        </li>
              <% end %>
      </ul>
      <% if @current_user != nil %>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="header_search" autocomplete="off">
        </div>
        <button id="search_button" type="button" class="btn btn-default">Search</button>

        <div id="header_search_results">
        </div>

        <!-- Filter -->


    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">By Milestone</a></li>
            <ul>
              <% Milestone.all.sort_by {|milestone| milestone.date}.each do |milestone| %>
                <li><a href="#" class="add_milestone_filter" id="<%= milestone.id %>"><%= milestone.name %></a></li>
              <% end %>  
            </ul>
            <% if @current_user!=nil and @current_user.power_admin %>
              <li><a href="#">By Date</a></li>
              <li><a href="#">Not Targeted</a></li>
              <li><a href="#">By Environment</a></li>
              <ul>
                <% Environment.all.each do |env| %>
                  <li><a href="#"><%= env.name %></a></li>
                <% end %>  
              </ul>
            <% end %>
          <!--<li><a href="#">By Product Label</a></li>-->
        </ul>
      </div><!-- /btn-group -->

<!-- Hide Secodn Dropdown for now
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:-5px">
         <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
-->
    </div>
    <!-- /input-group -->
      </form>
      <% end %>
  <% if @current_user!=nil%>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <img src= <%= @current_user.picture %> class="navbar-brand profile_header_pic" >
        </li>
        <li class="navbar-brand">
          <span id="product_feed" style="cursor:pointer;">
          <span style="font-size:24px;color:grey"  class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <span class="label label-info" style="vertical-align: text-top;">12</span>
          </span>
        </li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= @current_user.username %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><%= link_to "View Profile", sessions_profile_path %></li>
            <li role="separator" class="divider"></li>  
            <% if @favorite_nodes != nil %>
            <% @favorite_nodes.each do |favorite_node| %>
              <li><%= link_to favorite_node.node.name, favorite_node.node %></li>
            <% end %>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Log Out", logout_path %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Log In', sessions_login_path %> 
        </li>
        <% if User.all.count < 1 %>
        <li>  
          <%= link_to 'Sign Up', users_new_path %>
        </li>
        <% end %>
      </ul>
  <%end%>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script type="text/javascript">
$('.add_milestone_filter').click(function(){
  var milestone_id = $(this).attr('id');
  console.log(milestone_id);
    $.ajax({url: "/add_filter", type: "POST", data: {'filter_type': 1 ,'filter_data': milestone_id}, dataType: 'json'}).done(function(data){
      window.location.reload(false); 
    });
});

   var timeoutID = null;

  function findMemberForHeader(str) {
      $.ajax({url: "<%= search_path %>", type: "POST", data: {'search_string': str}, dataType: 'json'}).done(function(data){ 
console.log(data);
        var $items = "";
        for(i=0; i < data.length -1; i++){
          if(data[i][0]==0){
            $row = "<div id='result_row'><a href=/nodes/"+data[i][2]+">" + data[i][1] + "</a></div>";
          }else if(data[i][0]==1){
            $row = "<div id='result_row'><a href=/functional_design_documents/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
          }else if(data[i][0]==2){
            $row = "<div id='result_row'><a href=/trips/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
          }else if(data[i][0]==3){
            $row = "<div id='result_row'><a href=/attractions/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
          }
          
          $items = $items + $row;
        }
          $('div#header_search_results').html($items + "<div id='result_row'><em>" + data[data.length -1] + '</em></div>');
      });
    
  }

  $('#header_search').keyup(function() {
    clearTimeout(timeoutID);
    var $target = $(this);
    timeoutID = setTimeout(function() {
      var searchString = $target.val();
      if(searchString.length > 2){ 
        findMemberForHeader($target.val()); 
      }else{
        $('div#header_search_results').html("");
      }
    }, 500); 
  });

  $("#search_button").click(function(){
    $search_string = $('#header_search').val();
    window.location.href = "/search_results?str=" + $search_string;
  });

  $('#product_feed').click(function(){
    window.location.href = "/activities/index";
  });

  $('#header_search').keypress(function(e) {
    if(e.which == 13) {
      e.preventDefault();
      $search_string = $('#header_search').val();
      window.location.href = "/search_results?str=" + $search_string;
    }
});
</script>
