<!DOCTYPE html>
<html>
<head>
  <title>ProductMapper</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body 
  <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %> 
  <% end %>>

<%= render "layouts/header" %>

<div class="container-fluid">
	<%= yield %>
</div>
</body>
</html>
