<!DOCTYPE html>
<html>
<head>
  <title>ProductMapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container-fluid">
	<%= yield %>
</div>
</body>
</html>
